@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">EMPLOYEE</h1>

<div class="row align-self-center">
    <div class="col-md-8">
        <div class="card card-profile card-secondary">
            <div class="card-body">
                <div class="user-profile text-center">
                    <div class="align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="~/images/Profile.png" alt="..." class="avatar-img rounded-circle" style="width:25%;height:25%;" />
                        </div>
                    </div>
                    <div class="name">@Context.Session.GetString("username")</div>
                    <div class="job">@Context.Session.GetString("email")</div>
                    <div class="desc">@Context.Session.GetString("lvl")</div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row user-stats text-center">
                    <div class="col">
                        <div class="number">125</div>
                        <div class="title">Post</div>
                    </div>
                    <div class="col">
                        <div class="number">25K</div>
                        <div class="title">Followers</div>
                    </div>
                    <div class="col">
                        <div class="number">134</div>
                        <div class="title">Following</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- DataTales Example
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Join Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Scripts/Profile.js"></script>
    <script src="~/js/sweetalert2@9.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js"></script>
}
    -->
